/* Estilo para encabezado */
p {
   color: red;
   background-color: #fff; /* Especifica un color de fondo */
   text-align: center;
   padding: 20px;
}

.container {
   width: 90%;
   margin: 20px;
   padding: 15px;
   background-color: beige;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Corrección en la sintaxis de rgba */
}

.container p {
   font-size: 16px;
   color: chocolate;
   line-height: 1.6;
}
